<h1>Canucks Database</h1>
<div id="controls">
  <button id="loadPlayers">Load Players</button>
</div>
<section id="playerIndex" class="hidden">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Jersey #</th>
        <th>Position</th>
        <th>Height</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
    
    </tbody>
  </table>
</section>
<section id="playerShow" class="hidden">
  <h2></h2>
  <dl>
    <dt>Jersey Number:</dt>
    <dd contenteditable data-field="number"></dd>
    <dt>Position:</dt>
    <dd contenteditable data-field="position"></dd>
    <dt>Height:</dt>
    <dd contenteditable data-field="height"></dd>
    <dt>Weight:</dt>
    <dd contenteditable data-field="weight"></dd>
    <dt>Date of Birth:</dt>
    <dd data-field="dob"></dd>
    <dt>Birthplace:</dt>
    <dd data-field="birthplace"></dd>
  </dl>
  <button id="editPlayer" disabled="disabled">Edit Player</button>
</section>
